.sign-container {
    height: 100vh;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}


.discord-background {
    position:absolute;
    z-index: 1;
    max-width: 100%;
    max-height: 100%;

}


@-webkit-keyframes hvr-hang {
    0% {
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
    50% {
      -webkit-transform: translateY(4px);
      transform: translateY(4px);
    }
    100% {
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
  }
  @keyframes hvr-hang {
    0% {
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
    50% {
      -webkit-transform: translateY(4px);
      transform: translateY(4px);
    }
    100% {
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
  }
  @-webkit-keyframes hvr-hang-sink {
    100% {
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
  }
  @keyframes hvr-hang-sink {
    100% {
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
  }
  .button-container-sign {
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
  }
  .button-container-sign:hover, .button-container-sign:focus, .button-container-sign:active, .button-container-sign {
    -webkit-animation-name: hvr-hang-sink, hvr-hang;
    animation-name: hvr-hang-sink, hvr-hang;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
  }
  

.button-container-sign {
    flex-direction: column;
    border-radius: 5px;
    z-index: 2;
    background-color: #36393f;
    height: 40%;
    width: 30%;
    display: flex;
    justify-content: center;
    gap: 15%;
    align-items: center;
    box-shadow:  2px 2px 2px 2px #282b30;


}

.welcome-title {
    color: white;
    font-size: 52px;
    font-weight: bolder;
}
.welcome-text {
    color: white;
    font-size: 16px;
    font-weight: 200;

}

.welcome-body-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}